:root {
    --primaire: #272829;
    --secondaire: #61677A;
    --canvas-color: black;
    --canvas-fill: white;
    --text-color: white;
    --canvas-color-second: white;
}
body {
    background-color: var(--primaire);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 100%;
}
#info *{
    color: var(--text-color);
}
/*#383C40*/
button {
    background-color: var(--primaire);
    margin: 1px;
    color: #FCFBF8;
    font-size: medium;
    border: 1px solid #FCFBF8;
    border-radius: 5px;
}
button:hover {
    transition: 0.5s;
    background: var(--text-color);
    color: black;
}
#pannel {
    width: 15%;
    height: 100%;
    background: #22272C;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #FCFBF8;
}
table {
    border: 1px solid var(--text-color);
    margin: 10px
}
table tr {
    width: 100%;
    height: 100%;
}
table tr td {
    text-align: center;
    background: var(--secondaire);
}
td input {
    max-width: 6em;
    text-align: center;
}
#dessin {
    width: 100%;
    height: 100%;
}
canvas {
    color: var(--canvas-text-color);
    background: var(--canvas-color);
    overflow: clip;
    margin-bottom: 0;
}
#prom-put {
    background-color: var(--secondaire);
    width: 100%;
    color: var(--text-color);
}
p#prompt {
    display: flex;
    justify-content: flex-end;
    background: var(--secondaire);
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto; /* Ajout de la propriété overflow */
    /*#FCFBF8-space: ;*/
    border: 1px solid #ccc;
    width: 100%;
    color: var(--text-color);
}

dessin input {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
input:disabled {
    color: white;
    background-color: black;;
}
#info * {
    color: white;
    
}